<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="PinIssuance.HSM.Bridge" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <PinIssuance.HSM.Bridge>
    <add key="HsmHost" value="127.0.0.1" />   <!-- Needed-->
    <add key="HsmPort" value="9990" />        <!-- Needed-->
    <add key="HsmHeaderLength" value="8" />
    <add key="c" value="" />
    <add key="CardVerificationKey" value="" />  <!-- Needed-->
    <add key="PinVerificationKey" value="" />
    <add key="DecimalisationTable" value="0123456789012345" />
    <add key="PinValidationData" value="5061150101N2" />
    <add key="BDK" value="U12345678904A0B0D3F7F2CC90C6FA2A4" />
    <add key="Track2DataDelimeters" value="D,= " />
    <add key="ZPKLocation" value="C:\Projects\PrimeIntegrator\PinIssuance\ZpkLocation\" />
  </PinIssuance.HSM.Bridge>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DebugMode" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
